<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.HomeMapper">

<select id="insertRegister" resultType="map">
INSERT INTO TB_USER
(
	USER_PW
	, USER_NM
	, USER_ID
	, USER_EMAIL
	, FRST_DT
)VALUES(
	#{user_pw}
	, #{user_nm}
	, #{user_id}
	, #{user_email}
	, NOW()
)
</select>

</mapper>